@charset "utf-8";
@import "compass";
@import "normalize";

body {
  background: #d4d4d4;
  text-align: center;
  font-family: sans-serif; }

.eye {
  margin-top: 100px;
  display: inline-block;
  background: #fff;
  @include border-radius(50%);
  height: 180px;
  position: relative;
  width: 150px;
  .iris {
    background: #000;
    @include border-radius(50%);
    position: absolute;
    z-index: 1000;
    height: 50px;
    width: 50px;
    margin: -25px 0 0 -25px;
    left: 50%;
    top: 50%;
  }
}